@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #f3f4f6;
  --dark: #1A1918;
  --primary: #9CC9FF;
  --primary-dark: #7CA0CC;
  --secondary: #4F9EFF;
  --secondary-dark: #284F80;
}

body{
  background-color:var(--light)
}